.userInfo{
   margin: 5% 0;
   height:400px;
   background-color: #3e6b7c;
   color: white;
}
.contest{
  margin : 0 1.55%;
  height:400px;
  width:30%;
  background-color: #3e6b7c;
  float: left;
  border-radius: 10%;
  color: white;
}
.userRating{
   margin:5% 9%;
   height:400px;
   width: 30%;
   background-color: #3e6b7c;
   float: left;
   border-radius: 10%;
   color: white;
}
.userRatedList{
  margin:5% 9%;
   height:400px;
   width: 30%;
   background-color: #3e6b7c;
   float: left;
   border-radius: 10%;
   color: white;
}
.f_styling{
  font-family: "Georgia";
  text-align: center;
}
.userf_styling{
  font-family: "Georgia";
  text-align: center;
  font-size:50px;
}